@if (showDashboardLayout) {
  <div class="dashboard-layout-wrapper">
    <app-navbar class="dashboard-navbar"></app-navbar>

    <app-sidebar class="dashboard-sidebar"></app-sidebar>

    <main class="router-main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
} @else {
  <div class="public-layout-wrapper">

    <app-navbar class="public-navbar"></app-navbar>

    <main class="router-main-content public-main">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </div>
}
