<div class="table-container">
  <table>
    <thead>
      <tr>
        @for (col of columns; track col.key) {
          <th>{{ col.header }}</th>
        }
      </tr>
    </thead>

    <tbody>
      @if (data && data.length > 0) {
        @for (item of data; track item.id) {
          <tr>
            @for (col of columns; track col.key) {
              <td>
                {{ item[col.key] }}
              </td>
            }
          </tr>
        }
      } @else {
        <tr>
          <td [attr.colspan]="columns.length" class="no-data">
            No data available.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
