.sidebar {
    width: 250px;
    min-width: 250px; /* Fixes width */
    background-color: #2c3e50;
    color: #ecf0f1;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Full height sidebar */
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 20px 40px;
    font-size: 1.5em;
    font-weight: 500;
}

.logo-icon {
    margin-right: 10px;
    color: #3498db;
    font-size: 32px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: #ecf0f1;
    transition: background-color 0.3s, border-left 0.3s;
}

.nav-item:hover {
    background-color: #34495e;
}

.nav-item.active {
    background-color: #34495e;
    border-left: 4px solid #3498db;
    font-weight: 500;
}

.nav-item .material-icons {
    margin-right: 15px;
    font-size: 22px;
}
